<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilestore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileStore">
        <activity
            android:name=".Activities.BuyingActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainSellerActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.UpdateUserActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.AddUpdateManufacturerActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.AddUpdateCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.AddUpdateProductActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.UpdateCurrentUserInfoActivity"
            android:exported="true"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AddCommentActivity"
            android:exported="true"
            android:parentActivityName=".Activities.ProductInfoActivity" />
        <activity
            android:name=".Activities.ProductInfoActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.LogInActivity"
            android:exported="true"
            android:label="Вход" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:exported="true"
            android:label="Регистрация"
            android:parentActivityName=".Activities.LogInActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainAdminActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>